# Ignorar carpetas específicas que contienen resultados pesados
/Analysis_sc_Python/Results/
/Contenedores/

# Ignorar carpetas dentro de Demultiplex/Results_demux

/Demultiplex/Results_demux/0_bamtofastq/

/Demultiplex/Results_demux/00_final_analysis_cellmulti_7.1/Mouse_44-final/
/Demultiplex/Results_demux/00_final_analysis_cellmulti_7.1/Mouse_45-final/
/Demultiplex/Results_demux/00_final_analysis_cellmulti_7.1/Mouse_48-final/
/Demultiplex/Results_demux/00_final_analysis_cellmulti_7.1/Mouse_49-final/
/Demultiplex/Results_demux/00_final_analysis_cellmulti_7.1/Mouse_50-final/
/Demultiplex/Results_demux/00_final_analysis_cellmulti_7.1/Mouse_52-final/

/Demultiplex/Results_demux/00_final_analysis_cellmulti_8.1/mouse_gen_transcr/

/Demultiplex/Results_demux/00_final_analysis_cellmulti_8.1/demultiplexed_samples_cellranger_8/
/Demultiplex/Results_demux/00_final_analysis_cellmulti_8.1/Mouse_44-final/
/Demultiplex/Results_demux/00_final_analysis_cellmulti_8.1/Mouse_45-final/
/Demultiplex/Results_demux/00_final_analysis_cellmulti_8.1/Mouse_48-final/
/Demultiplex/Results_demux/00_final_analysis_cellmulti_8.1/Mouse_49-final/
/Demultiplex/Results_demux/00_final_analysis_cellmulti_8.1/Mouse_50-final/
/Demultiplex/Results_demux/00_final_analysis_cellmulti_8.1/Mouse_52-final/


# Ignorar archivos temporales o intermedios
__demultiplexed_samples*

# Ignorar archivos generados por SLURM
slurm*.out

Analysis_repertoire_immcantation_nfcore/